<html>
  <head>
    <title>New message</title>
    <link rel="stylesheet" href="formStyle.css" />
    <link rel="icon" type="image/x-icon" href="favicon.png" />
  </head>
  <body>
    <h1>New message form</h1>
    <form method="POST" action="/new">
      <label for="user">User:</label><br />
      <input type="text" id="user" name="user" /><br />
      <label for="message">Message:</label><br />
      <input type="text" id="message" name="message" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
