<html>
  <head>
    <title>Message Board</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="icon" type="image/x-icon" href="favicon.png" />
  </head>
  <body>
    <h1>Message Board</h1>
    <div class="messageBoxHolder">
      <% messages.forEach((message)=>{%><%-
      include('messageBox',{message:message}) %> <%});%>
    </div>
    <div class="newBtnHolder">
      <button class="newBtn"><a href="/new">New!</a></button>
    </div>
  </body>
</html>
