<div class="messageBox">
  <div>
    <span class="labels">User :</span>
    <%= message.user%>
  </div>
  <div>
    <span class="labels">Message :</span>
    <%=message.text%>
  </div>
  <div>
    <span class="labels">Date :</span>
    <%= message.added%>
  </div>
</div>
